body{

    background-color: #efefef;
}

ul{
padding: 0;
margin: 0;
list-style: none;
}



body > ul 
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

    }
    img{
    width:100px;
}

/* 
body > ul >li{

    width:30%;
    border 1 px solid #dedede;
    padding:10px;
    margin:20px;
    background-color:white;




} */